*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



.navbar{
    display: flex;
    justify-content: space-around;
    color:black;
    align-items: center;
    background-color:black;


}

.navbar a{

    justify-content: center;
    color:white;
    font-family: 'Montserrat';
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    margin:20px 20px;
}

.navbar a:hover{
    color:pink;
    background-color: white;
}

.navbar ul{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    list-style: none;
    
}

.navbar ul li{

    display: flex;
    flex-direction: row;
    position: relative;
    text-align: center;
    justify-content: space-between;
   
}

.navbar ul li:hover .drop li{
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar ul li .drop li {
    display: none;
}


.drop{
    position:absolute;
    top:50px;
    left:25px;
    display: flex;
    width:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar ul li .drop li{
    z-index:99;
    width:280px;
    margin-bottom: -20px;
    padding: 5px;
    background-color: black;
}

.menutoggle{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menutoggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    left:-5px;
    top:-4px;
    opacity: 0;
    cursor: pointer;
    z-index: 100;
}

.menutoggle span{
    display: block;
    width:28px;
    height: 3px;
    background-color: magenta;
    border-radius: 3px;
    transition: all .6s;
}







.menutoggle span:nth-child(2){
 
        transform-origin: 0 0;
}


.menutoggle span:nth-child(4){
 
    transform-origin: 0 100%;
}

.menutoggle input:checked ~ span:nth-child(2){

    background-color: salmon;
    transform:rotate(45deg) translate(-2px,-1px);
}

.menutoggle input:checked ~ span:nth-child(4){
    background-color: pink;
    transform:rotate(-45deg) translate(0px,-1px);
}

.menutoggle input:checked ~ span:nth-child(3){

    transform : scale(0);
    opacity:0;
}





@media screen and (max-width:768px){

    .navbar ul {
        width:50%;
    }

}


@media screen and (max-width:576px){

    body{
        overflow-x: hidden;
    }

    .menutoggle{
        display: flex;
    }

   .navbar ul{
    position:absolute;
    top:0;
    right: 0;
    height: 100vh;
    width: 50%;
    flex-direction: column;
    background-color: black;
    align-items: center;
    justify-content: space-evenly;
    z-index:-1;
    transform: translateX(100%);
    transition: all 1s;
    opacity: 0.5;
}

.navbar ul slide{
    transform: translateX(0);
    opacity: 1;
}

}

